<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
p {
    display: flex;
} 
body {
    background-color: {{ bgcolor }};
}
h1 {
    font-size: 60px;
    color: white;
    margin-top: 20%;
    text-align: center;
}
</style>
</head>
<body>
    <div><h1>Hello {{ myresult }}, the background color is: {{ bgcolor }}</h1></div>
    <div><h1>Hello {{ redisResult }}, this is from redis cache</h1></div>
    <div><h1>{{ rabbitMQResult }}</h1></div>
</body>
</html>